body{
    margin: 0;
    background: #f0f0f0;
    padding: 0;
}
.content{
    width: 40%;
    height: 50vh;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    background: #000;
    border-radius: 10px;
}
.content_img{
    width: 100%;
    height: 50%;
    border: 1px solid black;
}
.content_img img{
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}
h3{
    border-bottom: 1px solid black;
    text-align: center;
    font-family: sans-serif;
    color: yellow;
}
p{
    text-align: justify;
    font-size: 20px;
    color: #fff;
}